.App {
  /* text-align: center; */
  width: 100%;
  height: 100%;
}

.sidebar-box {
  float: left;
  width: 160px;
  height: 100%;
  background-color: #fff;
}

.content {
  float: right;
  width: calc(100% - 160px);
  height: 100%;
  background-color: #eee;
}
